body {

}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
/* How can this be simplified as much as possible? */
h1,
h2,
h3 {
}
h1 {
}
h2 {
}
h3 {
}

p {
}

header {
}

header h1 {
    /* outline: 3px dotted red; */
    width: 300px;
    float: left;
}
header h1 span {
}

header nav {
    /* outline: 3px dotted red; */
    width: 300px;
    float: right;
}
header nav ul {
}
header nav ul li {
}
header nav ul li a {
}

.top-section,
.bottom-section {
}

.main-image {
}
.main-image img {
}

.main-title {
}
.main-title h3 {
}
.main-title p {
}

.section-one,
.section-two,
.section-three {
    /* outline: 3px dotted red; */
    width: 400px;
    box-sizing: border-box;
    float: left;
}

.section-one h4 {
}

.section-two {
}

.section-two h4,
.section-three h4 {
}

.menu {
}
.menu li {
}

.reviews {
}

.address {
}

footer {
}
footer span {
}
